@model ProductViewModel;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductStronglyType</title>
</head>
<body>
    <h4>Product ID : @Model.ProdID</h4>
    <h4>Product Code : @Model.ProdCode</h4>
    <h4>Product Name : @Model.ProductName</h4>
    <h4>Product Price : @Model.ProductPrice</h4>
</body>
</html>
